@use 'variaveis';

.footer {
    background-color: variaveis.$corDeFundo;
    &__container {
        max-width: 1524px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
        padding: 40px;
    }

    &__logo {
        width: 15vh;
        padding-top: 26px;
        padding-bottom: 8px;
    }

    &__links {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        &__itens {
            display: inline-block;
            margin: 11px 5px 10px;
            padding: 1px 6px;
            line-height: 22px;

            a {
                text-decoration: none;
                padding: 8px 8px;
                
                &:hover {
                    color: variaveis.$corDeFundoBotaoSecundario;
                }
            }
        }
    }

    p {
        margin-top: 8px;
    }
}

