@use 'variaveis';

.footer {
    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }

    &__logo {
        width: 80px;
        padding-top: 26px;
        padding-bottom: 8px;
    }

    &__links {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        &__itens {
            display: inline-block;
            margin: 15px;
            justify-content: center;

            a {
                text-decoration: none;
                padding: 8px 16px;
                
                &:hover {
                    color: variaveis.$corSecundarioButton;
                }
            }
        }
    }

    p {
        margin-bottom: 16px;
    }
}

