@use'variaveis';

.infor {
    gap: 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    @media (max-width: 768px) {
        display: block;
    }

    &__sobre {
        margin: 5px;
        font-family: sans-serif;

    }

    &__lista {
        margin: 5px;
        font-family: sans-serif;
    }
}

/* estilização do logo do elemento infor sobre*/
.logo {
    padding: 10px;
    margin: auto;
    padding: 1px;
    max-width: 30px;
    width: 100%;
}



