@use'variaveis';

.plans {
    position: relative;
    
    &__branding {
        display: flex;
        flex-wrap: wrap;
        min-height: 170px;
        padding: 56px 0 12px;
        align-content: center;

        &__content {
            max-width: 341px;
            min-width: 100px;
            width: 35vw;
            
            img {
                height: auto;
                width: 100%;
                display: block;
            }
        }
    }

    &__portrait {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        align-items: center;

        &__designer {
            height: 20px;
            vertical-align: sub;
            display: inline-block;

            .image {
                height: 100%;
                width: auto;
            }
        }
    }

    .btn {
        margin-top: 56px;
        margin: 32px 0px 0px;
        padding: 0px 24px;
        justify-content: center;
        width: 15%;
        font-weight: 900;

        @media (max-width: 768px) {
            display: block;
            width: 50%;
            font-size: 15px;
        }
    }
}

.detalhes {
    line-height: 1.4;
    padding: 0 0 15px;
    margin-top: 43px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: variaveis.$cordeTextoPrincipal;
}

.verso {
    padding: 20px 0;
    letter-spacing: 1.4;
    padding-bottom: 80px;
}