@use 'variaveis';
@use 'hero';
@use 'plans';
@use 'carousel';
@use 'footer';
@use 'infor';


/* importando fonte pelo elemento @font-face */

@font-face {
    font-family: Avenir sans-serif;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 600;
}

/* elementos reset da página */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* estilização do botao plans btn*/
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    padding: 0 20px;
    height: 56px;
    color: variaveis.$cordeTextoPrincipal;
    border: 0;
    background-color: variaveis.$corPrincipalButton;
    border-radius: 0.25rem;
    font-weight: 900;
    line-height: 1.5px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 32px;

}

/* estilização do botao plans btn hover */
.btn:hover {
    background-color: variaveis.$corSecundarioButton;
    color: variaveis.$cordeTextoPrincipal;
}


/* estilização dos mixin */

@mixin text($fontSize: 18px) {
    font-size: $fontSize;
    line-height: $fontSize + 1.5px;
    color: variaveis.$cordeTextoPrincipal;
}


@mixin title($fontSize: 20px) {
    font-size: $fontSize;
    color: variaveis.$cordeTextoPrincipal;
}

.text--small {
    @include text(12px);
    color: variaveis.$cordeTextoPrincipal;
}

.text {
    @include text(18px);
    color: variaveis.$cordeTextoPrincipal;
}


.text--regular {
    @include text(18px);
    color: variaveis.$cordeTexto;
}

.text--big {
    @include text(25px);
    color: variaveis.$cordeTextoSecundario;
}

/* estilização paragrafo do plans elemento detalhes / elemento linha*/
.paragrafo {
    width: 875px;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 1.4px;
    width: 70%;
}

.linha {
    border: 1px solid hsla(0, 0%, 98%, .5);
    margin: 0;
}


.titulo {
    padding-top: 75px;
    padding-bottom: 40px;
    color: variaveis.$cordeTextoPrincipal;
}